<%- include("partiales/header") %>

<img src=<%=image%> class="card-img-top index-image">
<h1><%= title %></h1>
<p><%= content %></p>

<div class="flex">
  <!-- Edit btn`` -->
  <a href="/edit/<%= postId %>" class="btn btn-primary">Edit</a>

  <!-- Delete Button with Confirmation -->
  <form
    id="deleteForm"
    action="/delete/<%= postId %>?_method=DELETE"
    method="POST"
  >
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>

<%- include("partiales/footer") %>

<script src="/js/deleteConfirm.js"></script>
